.home-main-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-main-wrapper{
    height: 80vh;
    width: 70vw;
    background-color: rgb(66, 66, 66);
}

nav{
    height: 7vh;
    width: 100%;
    /* background-color: rgb(11, 0, 31); */
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}

.menu-icon{
    cursor: pointer;
    margin-left: .6vw;  
}

.left-menu-side-bar{
    width: 20vw;
    height: 100%;
    background-color: black;
    padding: 0 1vh;
}

.menu-list-main-wrapper{
    width: 100%;
    height: auto;
}

.list-wrapper{
    width: 100%;
    height: 100%;
    padding: 2vh 0;
}

.list-tile-wrapper{ 
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(172, 172, 172, 0.247);
    align-items: center;
}

.list-item-name{
    color: white;
    margin-left: 15px;
    font-weight: 200;
}

.overall-status-main-wrapper{
    width: 100%;
    height: auto;
}

.active-status-tile{
    width: 100%;
    height: 100px;
    background-color: hotpink;
    border-radius: 20px;
    color: white;
}

.active-tile-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.active-tile-content h1{
    font-size: 4rem;
}

.active-tile-content p{
    font-size: .9rem;
    font-weight: 200;
    max-width: 10ch;
    margin-left: 10px;
}

.done-and-deleted{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.done-status-tile, .deleted-status-tile{
    background-color: rgb(50, 146, 255);
    border-radius: 20px;
    height: 100px;
    width: 49%;
    margin: 10px 0;
    color: white;
}

.deleted-status-tile{
    background-color: orange;
}

.status-tile-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status-tile-content h1{
    font-size: 2.5rem;
}

.status-tile-content p{
    font-weight: 200;
    font-size: .9rem;
    text-align: center;
}


@media only screen and (max-width: 1200px){
    .left-menu-side-bar{
        width: 25vw;
    }
}

@media only screen and (max-width: 900px){
    
    nav{
        display: block
    }
    
    .left-menu-side-bar{
        display: none;
    }

    .todo-main-wrapper{
        height: 100vh;
        width: 100vw;
        background-color: rgb(66, 66, 66);
    }
}