.home-main-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-main-wrapper{
    height: 80vh;
    width: 70vw;
    background-color: #1f2128;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
    border-radius: 5px;
}

nav{
    height: 7vh;
    width: 100%;
    /* background-color: rgb(11, 0, 31); */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* display: none; */
}

.menu-icon{
    cursor: pointer;
    margin-left: 1vw;  
}

.menu-icon-none{
    pointer-events: none;
}

.todo-content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* .left-menu-side-bar{
    width: 30%;
    height: 100%;
    background-color: black;
    padding: 0 1vh;
    position: static;
    overflow-x: hidden;
} */
.left-menu-side-bar{
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgb(0, 0, 0); */
    padding: 0 1vw;
    overflow-x: hidden;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.007),rgba(255, 255, 255, 0.007)); */
    background-color: #1f2128;
    box-shadow:0px 0px 10px 10px  #00000046;
    
}

/* .visible-sidebar{
    display:none;
} */

.menu-list-main-wrapper{
    width: 100%;
    height: auto;
    transform: translateX(-600px);
}

.list-wrapper{
    width: 100%;
    height: 100%;
    /* padding: 2vh 0; */
}

.back-arrow{
    margin-top: 10px;
}

.list-tile-wrapper{ 
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(172, 172, 172, 0.247);
    align-items: center;
}

.list-item-name{
    color: white;
    margin-left: 15px;
    font-weight: 200;
}

.overall-status-main-wrapper{
    width: 100%;
    height: auto;
    margin: 20px 0;
    transform: translateX(-600px);
}

.active-status-tile{
    width: 100%;
    height: 100px;
    background-color: #309bff;
    /* background-image: linear-gradient(to left, rgba(232, 55, 255, 0.336),rgba(255, 255, 255, 0.5)); */
    /* border-top: 1px solid white;
    border-left: 1px solid white; */
    border-radius: 5px;
    color: white;
}

.active-tile-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.active-tile-content h1{
    font-size: 4rem;
}

.active-tile-content p{
    font-size: .9rem;
    font-weight: 200;
    max-width: 10ch;
    margin-left: 10px;
}

.done-and-deleted{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.done-status-tile, .deleted-status-tile{
    /* background-color: #309bff; */
    border: 1px solid #309bff;
    border-radius: 5px;
    height: 100px;
    width: 49%;
    margin: 5px 0;
    color: white;
    color: #309bff;
}

.status-tile-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status-tile-content h1{
    font-size: 2.5rem;
}

.status-tile-content p{
    font-weight: 200;
    font-size: .9rem;
    text-align: center;
}

.todo-main-content-display-section{
    width: 100%;
    height: 100%;
    padding: 0 1.3vw;
    /* margin: 0 1.3vw; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.main-content-welcome-tile{
    color: white;
    background-color: #309bff;
    /* background-image: linear-gradient(to left, rgb(252, 168, 255),rgb(174, 74, 255)); */
    box-shadow:0px 0px 10px 10px  #00000046;
    opacity: 1;
    width: 100%;
    padding: 1vh;
    border-radius: 10px;
}

.main-content-welcome-tile h1{
    font-size: 3rem;
}

.main-content-welcome-tile p {
    font-size: .8rem;
    font-weight: 200;
}

.btn-wrapper-position{
    height: 60px;
    width: 60px;
    background-color: #309bff;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    box-shadow:0px 0px 10px 10px  #00000046;
}

@media only screen and (max-width: 1200px){
    .left-menu-side-bar{
        width: 25vw;
    }
}

@media only screen and (max-width: 900px){
    
    .home-main-wrapper{
        align-items: flex-start;
        height: 100vh;
    }

    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .todo-content-wrapper{
        height: auto;
    }
    
    .left-menu-side-bar{
        position: absolute;
        width: 85%;
        top: 0;
        left: 0;
        /* opacity: 0; */

    }



    .back-arrow{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin-right: 10px;
        padding: 10px 0;
        border-bottom: 1px solid rgba(172, 172, 172, 0.247);
        align-items: center;
    }

    .todo-main-wrapper{
        height: 100vh;
        width: 100vw;
        /* background-color: rgb(66, 66, 66); */
    }

    .todo-main-content-display-section{
        width: 100%;
        height: 100%;
        
    }
}